<head>
   <<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css"> <!-- NOVO ARQUIVO -->
</head>



<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <!-- Logo centralizada -->
            <img src="img/logo2.png" alt="Digital Systems Managing Logo" class="logo-secundaria-rodape">
            
            <!-- Texto da empresa -->
            <p class="empresa-descricao">Treinamentos & Consultoria - Soluções Inteligentes de TI</p>
            
            <!-- Contatos -->
            <p>Email: <a href="mailto:digitalsm.empresa@gmail.com">digitalsm.empresa@gmail.com</a></p>
            <p>WhatsApp: +55 61 9 9886-5417</p>
            
            <!-- Redes Sociais -->
            <div class="social-icons">
                <a href="https://wa.me/5561998865417" target="_blank"><img src="img/whatsapp.png" alt="WhatsApp"></a>
                <a href="https://www.instagram.com/digitalsystemsmanaging/" target="_blank"><img src="img/instagram.png" alt="Instagram"></a>
                <a href="https://www.facebook.com/digitalsystemsmanaging/" target="_blank"><img src="img/facebook.png" alt="Facebook"></a>
                <a href="https://www.linkedin.com/company/digitalsystemsmanaging/" target="_blank"><img src="img/linkedin.png" alt="Linkedin"></a>
                <a href="https://www.youtube.com/@digitalsystemsmanaging" target="_blank"><img src="img/youtube.png" alt="Youtube"></a>
         
        
        <!-- Copyright -->
        <div class="footer-copyright-section">
            <p>&copy; 2025 Digital Systems Managing | Todos os direitos reservados</p>
        </div>
    </div>
</footer>


            
