<header>
    <nav class="navbar container">
        <a href="#" class="logo">
            <img src="img/logo.png" alt="DSM Logo">
            DSM
        </a>
        
        <ul class="nav-menu" id="nav-menu">
            <li class="nav-item"><a href="#hero" class="nav-link">Início</a></li>
            <li class="nav-item"><a href="#protecao" class="nav-link">Proteção</a></li>
            <li class="nav-item"><a href="#servicos" class="nav-link">Serviços</a></li>
            <li class="nav-item"><a href="#treinamentos" class="nav-link">Treinamentos</a></li>
            <li class="nav-item"><a href="#consultoria" class="nav-link">Consultoria</a></li>
            <li class="nav-item"><a href="#contato" class="nav-cta">Contato</a></li>
        </ul>
        
        <div class="mobile-menu" id="mobile-menu">
            <span class="hamburger"></span>
            <span class="hamburger"></span>
            <span class="hamburger"></span>
        </div>
    </nav>
</header>
